.timeline{

background:#050816;
padding:120px 8%;
scroll-margin-top:90px;


}

.timeline-container{

margin-top:70px;

display:flex;

flex-direction:column;

gap:35px;

}

.timeline-card{

display:flex;

gap:30px;

align-items:flex-start;

}

.circle{

width:90px;

height:90px;

border-radius:50%;

background:#64FFDA;

color:#050816;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

font-size:18px;

flex-shrink:0;

}

.content{

background:#111827;

padding:30px;

border-radius:20px;

width:100%;

transition:.4s;

}

.content:hover{

transform:translateX(10px);

box-shadow:0 20px 40px rgba(100,255,218,.2);

}

.content h3{

margin-bottom:15px;

font-size:28px;

}

.content p{

color:#cbd5e1;

line-height:30px;

}