.footer{

    background:#02050f;

    color:white;

    text-align:center;

    padding:40px 20px;

    border-top:1px solid rgba(255,255,255,.08);
}

.footer h2{

    color:#64ffda;

    margin-bottom:12px;

    font-size:32px;
}

.footer p{

    color:#bdbdbd;

    margin:10px 0;
}

.copyright{

    margin-top:20px;

    font-size:14px;
}